on: 
  workflow_dispatch:
    inputs:
      enviroment:
        description: "Choose Enviroment"
        required: true
        default: "staging"
        type: choice
        options:
          - staging
          - production

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Application
        run: echo "Deploying the application to ${{ inputs.enviroment }}"
